html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --font-funny: 'Sigmar One', cursive;
  --color-header: #791355;
  --color-text: #fb8d62;
  --color-pink: #fd2eb3;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#nav-wrapper ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-item {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  list-style-type: none;
}

.nav-link {
  list-style-type: none;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2rem;
  font-size: 1.1rem;
  font-family: var(--font-funny);
  color: var(--color-header);
}

#background-wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#bg-inside {
  width: 80%;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='96' height='48' viewBox='0 0 96 48'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%23ffffff' stroke-width='0.5'%3E%3Crect fill='%23fafafa' width='1' height='1'/%3E%3Crect fill='%23ffffff' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%23f5f5f5' width='1' height='1' y='1'/%3E%3Crect fill='%23f0f0f0' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ebebeb'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ffffff'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%2361d4b3'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%2361d4b3'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='96' height='48'/%3E%3Crect fill='url(%23b)' width='96' height='48'/%3E%3Crect fill='url(%23c)' width='96' height='48'/%3E%3Crect fill='url(%23d)' width='96' height='48'/%3E%3Crect fill='url(%23e)' width='96' height='48'/%3E%3Crect fill='url(%23f)' width='96' height='48'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  margin: 1rem 9rem 0rem 9rem;
  padding-bottom: 8rem;
  position: relative;
}

#background-wrapper h1 {
  font-family: var(--font-funny);
  font-size: 5rem;
  color: var(--color-header);
  text-align: center;
  margin: 0;
  padding: 0;
}

.bg-fruits {
  position: absolute;
}

img {
  width: 320px;
  position: absolute;
}

#apple {
  -webkit-transform: translate(9rem, -35rem);
          transform: translate(9rem, -35rem);
}

#fig {
  -webkit-transform: translate(10rem, -18rem);
          transform: translate(10rem, -18rem);
}

#grapes {
  -webkit-transform: translate(67rem, -38rem);
          transform: translate(67rem, -38rem);
}

#peaches {
  -webkit-transform: translate(65rem, -23rem);
          transform: translate(65rem, -23rem);
}

#orange {
  -webkit-transform: translate(36rem, -7rem);
          transform: translate(36rem, -7rem);
}
/*# sourceMappingURL=style.css.map */